<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <button ion-button (click)="store()">Upload</button>
 <button ion-button (click)="display()">Display</button>
 <img src="{{imgsource}}">
</ion-content>