<ion-header>
  <ion-navbar>
    <ion-title>EventList</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let event of eventList" >
      <ion-item>
      <h2>{{event?.name}}</h2>
      <p>Ticket: <strong>${{event?.price}}</strong></p>
      <p>Date: <strong>{{event?.date}}</strong></p>
      </ion-item>
     <ion-item-options side="left">
   <button ion-button color="danger" (click)="del(event.eventId)">
      <ion-icon name="md-trash">   Delete  </ion-icon>
    </button>
  </ion-item-options>
  </ion-item-sliding>
  </ion-list>
</ion-content>
